
        <!-- Slider -->
        <div class="slider">
            <div class="container">

        <!-- Site Description -->
        <div class="presentation container">
            <h2>The useful resource for tech startups.</h2>
            <p>We help small businesses and entrepreneurs gain advantages needed to help survive the <strong>startup</strong> part.</p>
        </div>

                <div class="row">
                    <div class="span10 offset1">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{ASSET_PATH}/assets/img/slider/chicago-skyline-from-indiana-dunes.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/chicago-skyline-from-indiana-dunes.jpg">
                                    <p class="flex-caption">With Chicago right over there (bring your flip-flops)...</p>
                                </li>
                                <li data-thumb="{ASSET_PATH}/assets/img/slider/brick-wall-street-art.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/brick-wall-street-art.jpg">
                                    <p class="flex-caption">...a culture that is a current with the times...</p>
                                </li>
                               <li data-thumb="{ASSET_PATH}/assets/img/slider/valparaiso-university-baptistery.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/valparaiso-university-baptistery.jpg">
                                    <p class="flex-caption">...interests abounding...</p>
                                </li>
                                <li data-thumb="{ASSET_PATH}/assets/img/slider/figure-eight-brewing-downtown-valparaiso.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/figure-eight-brewing-downtown-valparaiso.jpg">
                                    <p class="flex-caption">...places to share ideas...</p>
                                </li>
                               <li data-thumb="{ASSET_PATH}/assets/img/slider/downtown-valparaiso-at-night.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/downtown-valparaiso-at-night.jpg">
                                    <p class="flex-caption">...succulent selections...</p>
                                </li>
                                <li data-thumb="{ASSET_PATH}/assets/img/slider/valparaiso-park-porter-county-building.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/valparaiso-park-porter-county-building.jpg">
                                    <p class="flex-caption">...a supportive community...</p>
                                </li>
                              <li data-thumb="{ASSET_PATH}/assets/img/slider/soap-box-saturday.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/soap-box-saturday.jpg">
                                    <p class="flex-caption">...& something for everyone...</p>
                                </li>
                                <li data-thumb="{ASSET_PATH}/assets/img/slider/lake-michigan-beach-path.jpg">
                                    <img src="{ASSET_PATH}/assets/img/slider/lake-michigan-beach-path.jpg">
                                    <p class="flex-caption">...we walk our path towards success in the 21st century</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div class="what-we-do container">
            <div class="row">
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-magnet"></i>
                    </div>
                    <h4>Blog</h4>
                    <p>News, updates, events, how To's & more. We will put all our tutorials and information on here so be sure to visit often. Also, let us know if you have questions...</p>
                    <a href="/blog">Visit the Blog</a>
                </div>
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-table"></i>
                    </div>
                    <h4>Events on EventBrite</h4>
                    <p>For our first few events we'll be using EventBrite in order to get a proper headcount. Please keep visitng this page to see when the next event happens...</p>
                    <a href="http://startupfrontvalpo.eventbrite.com/" target="_blank">Register Now</a>
                </div>
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-magic"></i>
                    </div>
                    <h4>How StartupFront works</h4>
                    <p>Learn more about how we came about, our mission, vision, goals and how the whole thing started with the search for a blue cheese cheeseburger...</p>
                    <a href="/how-startup-front-works">Learn More</a>
                </div>
                <div class="service span3">
                    <div class="icon-awesome">
                        <i class="icon-print"></i>
                    </div>
                    <h4>About the Photographer</h4>
                    <p>All photographs on the site are taken by Edward Byrne unless otherwise noted. To learn more about Mr. Byrne, his photos and how to use them, please read...</p>
                    <a href="/edward-byrne">...about Edward</a>
                </div>
            </div>
        </div>

        <!-- Latest Work -->
        <div class="portfolio container">
            <div class="portfolio-title">
                <h3>Supporters</h3>
            </div>
            <div class="row">
                <div class="work span3">
                    <h4>BakedFinn</h4>
                    <p>Digital agency | software company founded by Livemercial alums..</p>
                     <img src="{ASSET_PATH}/assets/img/portfolio/hexagon-services-bakedfinn-scaled.png" alt="">
                    <div class="icon-awesome">
                        <a href="{ASSET_PATH}/assets/img/portfolio/hexagon-services-bakedfinn-scaled.png" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a href="http://www.bakedfinn.com/" target="_blank"><i class="icon-link"></i></a>
                    </div>
                </div>
                <div class="work span3">
                    <h4>Ideas in Motion Media</h4>
                    <p>Founded in 2009 by CEO / Publisher Chris Mahlmann, the Good News Online Media Agency runs online publications including  Valpolife.com, PortageLife.com & NWIndianalife.com...</p>
                   <img src="{ASSET_PATH}/assets/img/portfolio/ideas-in-motion-logo.png" alt="">
                    <div class="icon-awesome">
                        <a href="{ASSET_PATH}/assets/img/portfolio/ideas-in-motion-logo.png" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a href="http://www.ideasinmotionmedia.com/" target="_blank"><i class="icon-link"></i></a>
                    </div>
                </div>
                <div class="work span3">
                    <h4>#NWITweetup</h4>
                    <p>Northwest Indiana's leading social media meetup / networking community since 2008. The group has been the home of area technology companies, digital marketers, startup companies, social media personalities and local eateries...</p>
                   <img src="{ASSET_PATH}/assets/img/portfolio/nwitweetup-header-2013.jpg" alt="">
                    <div class="icon-awesome">
                        <a href="{ASSET_PATH}/assets/img/portfolio/nwitweetup-header-2013.jpg" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a href="http://www.nwitweetup.com/" target="_blank"><i class="icon-link"></i></a>
                    </div>
                </div>
                <div class="work span3">
                   <h4>My Mobile Fans</h4>
                    <p>Custom mobile apps for website at affordable prices from a local company founded in Carmel, IN. The apps work on both iPhone & Androids platforms, has numerous features and typcially includes a 14-day free trial...</p>
                    <img src="{ASSET_PATH}/assets/img/portfolio/my-mobile-fans.png" alt="">
                    <div class="icon-awesome">
                        <a href="{ASSET_PATH}/assets/img/portfolio/my-mobile-fans.png" rel="prettyPhoto"><i class="icon-search"></i></a>
                        <a href="http://mymobilefans.com/" target="_blank"><i class="icon-link"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials container">
            <div class="testimonials-title">
                <h3>Testimonials</h3>
            </div>
            <div class="row">
                <div class="testimonial-list span12">
                    <div class="tabbable tabs-below">
                        <div class="tab-content">
                            <div class="tab-pane active" id="A">
                                <img src="{ASSET_PATH}/assets/img/testimonials/steve-dalton-testimonial.jpg" width="75px" title="" alt="">
                                <p>"We tried for years to get the community galvanized. To think it took a lunch and a quest for the best blue cheese cheeseburger to get things going. Nowadays we'll take progress any way we can get it..."<br /><span class="violet">Steve Dalton - Cender and Company</span></p>
                            </div>
                            <div class="tab-pane" id="B">
                                <img src="{ASSET_PATH}/assets/img/testimonials/kelly-schwedland-75.png" title="" alt="">
                                <p>"Having been in successful startups over the last 25 years, I believe the waters are chummed for a movement such as <strong>Startup Front</strong>..."<br /><span class="violet">Kelly Schwedland, MBA (University of Chicago Class of 2010) - American Business Dynamics</span></p>
                            </div>
                            <div class="tab-pane" id="C">
                                <img src="{ASSET_PATH}/assets/img/testimonials/kevin-gould-testimonial.jpg" width="75px" title="" alt="">
                                <p>"I think <strong>Startup Front</strong> shows that this side of Chicago <cite>gets it</cite> and is not waiting for permission to use our business resources and natural beauty - beaches, hiking, biking, wineries... - in order to further establish an identity in international marketplaces..."<br /><span class="violet">Kevin Gould, avid runner & veteran banking executive</span></p>
                            </div>
                            <div class="tab-pane" id="D">
                                <img src="{ASSET_PATH}/assets/img/testimonials/nat-finn-testimonial.jpg" width="75px">
                                <p>"All I know is that Kevin Gould owes me a damned blue cheese cheeseburger. The rest I'm learning on the fly..."<br /><span class="violet">Nat Finn - Finn of BakedFinn</span></p>
                            </div>
                        </div>
                       <ul class="nav nav-tabs">
                           <li class="active"><a href="#A" data-toggle="tab"></a></li>
                           <li class=""><a href="#B" data-toggle="tab"></a></li>
                           <li class=""><a href="#C" data-toggle="tab"></a></li>
                           <li class=""><a href="#D" data-toggle="tab"></a></li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>